<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tunga.gb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddRestaurant"
            android:label="@string/title_activity_add_restaurant"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestaurantPage"
            android:label="@string/title_activity_restaurant_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SourceForProfile"
            android:label="@string/title_activity_source_for_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EditRestaurantPage"
            android:label="@string/title_activity_edit_restaurant_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeReservationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DeleteRestaurantPage" />
        <activity
            android:name=".UpdateRestaurantPage"
            android:label="@string/title_activity_update_restaurant_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReservationPage"
            android:label="@string/title_activity_reservation_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRestaurantPage"
            android:label="AddRestaurantPage" />
        <activity android:name=".RestaurantReservationList"></activity>
    </application>

</manifest>